[submodule "Prevalence-of-top-down-control-in-coastal-planktonic-food-webs-datasets"]
	path = Prevalence-of-top-down-control-in-coastal-planktonic-food-webs-datasets
	url = https://github.com/numsil-457/Prevalence-of-top-down-control-in-coastal-planktonic-food-webs-datasets.git
[submodule "Balanced-top-down-and-bottom-up-control-in-coastal-planktonic-food-webs-datasets"]
	path = Balanced-top-down-and-bottom-up-control-in-coastal-planktonic-food-webs-datasets
	url = https://github.com/numsil-457/Balanced-top-down-and-bottom-up-control-in-coastal-planktonic-food-webs-datasets.git
